<div class="bg1"></div>
<div class="bg1 bg2"></div>
<div class="bg1 bg3"></div>
<div class="container">
    <div class="row">
        <h1>About</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6" id="c1">
            <h2>What is angular?</h2>
            <p>According to <a href="https://angular.io/guide/what-is-angular" target="_blank"
                    id="ang_link"><strong>Angular's official documentation</strong></a>, Angular is a
                component-based framework for building scalable web applications, also it is a collection of
                well-integrated libraries that cover a wide
                variety of features, including routing, forms management, client-server communication, and more.</p>
            <p>For this framework, the essentials are: components, templates and dependency injection. Components are
                basically building blocks that together form the app. For example, this
                "About" section is a single component, the next section will be another component and so on. There is
                not only a single way of defining components in your project, these
                are defined depending on what is best for the development of the project.
            </p>
            <p>Templates are basically HTML code that exchanges information with Angular in order to render the code in
                the browser. And dependency injection is to request anything from an outside class rather than
                to create a resource inside that same class.
            </p>
        </div>
        <div class="col-sm-6" id="logo">
            <img src="assets/images/angular_logo.png" class="img-responsive" alt="logo" width="350">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-6" id="gif_div">
            <iframe src="https://giphy.com/embed/26tn33aiTi1jkl6H6" frameBorder="0" class="giphy-embed" allowFullScreen
                id="gif"></iframe>
        </div>
        <div class="col-sm-6" id="c1">
            <h2>About this project</h2>
            <p>The main purpose of this project is to have at hand what I am learning about Angular framework, in order
                to have somewhere to
                look something up in case of having trouble with anything related to the framework. Also, this website
                is built with Angular,
                so it is also a way to practice what I learn. In addition to this, it is always good to practice your
                HTML, CSS and Bootstrap knowledge, so this simple
                project is a way of doing this.
            </p>
        </div>
    </div>
</div>