
.container {
  margin-top: 10px;
}

.about{
  background-color: black;
}

hr {
  border-top: 1px solid #2b2929;
}

#c1 {
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  text-align: center;
}

#ang_link {
  color: black;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gif_div {
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.bg1 {
  position:fixed;
  animation: slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 30s;
}

.bg3 {
  animation-duration: 30s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}